body {
	margin:0;
	padding:0;
	border:0;			/* This removes the border around the viewport in old versions of IE */
	width:100%;
	background: #161415 url(../images/header-background.jpg)  no-repeat fixed; 
 	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #fff;
}
a {
	color:#369;
}
a:hover {
	color:#fff;
	background:#369;
	text-decoration:none;
}
h1, h2, h3 {
	margin:.8em 0 .2em 0;
	padding:0;
}
p {
	margin:.4em 0 .8em 0;
	padding:0;
}
img {
	margin:10px 0 5px;
}
#ads img {
	display:block;
	padding-top:10px;
}

/* Header styles */
#header {
	clear:both;
	float:left;
	width:100%;
	margin-bottom:5px;
}
#header {

}
#header p,
#header h1,
#header h2 {
	padding:.4em 15px 0 15px;
	margin:0;
}
#header ul {
	clear:left;
	float:left;
	width:100%;
	list-style:none;
	margin:10px 0 0 0;
	padding:0;
}
#header ul li {
	display:inline;
	list-style:none;
	margin:0;
	padding:0;
}
#header ul li a {
	display:block;
	float:left;
	margin:0 0 0 1px;
	padding:3px 10px;
	text-align:center;
	color:#000;
	text-decoration:none;
	position:relative;
	left:15px;
	line-height:1.3em;
}
#header ul li a:hover {
	background:#369;
	color:#fff;
}
#header ul li a.active,
#header ul li a.active:hover {
	color:#fff;
	background:#000;
	font-weight:bold;
}
#header ul li a span {
	display:block;
}
/* 'widths' sub menu */
#layoutdims {
	clear:both;
	background:#eee;
	margin:0;
	padding:6px 15px !important;
	text-align:right;
}
/* column container */
.colmask {
	position:relative;	/* This fixes the IE7 overflow hidden bug */
	clear:both;
	float:left;
	width:100%;			/* width of whole page */
	overflow:hidden;		/* This chops off any overhanging divs */
}
/* common column settings */
.colright,
.colmid,
.colleft {
	float:left;
	width:100%;
	position:relative;
}
.col1,
.col2,
.col3 {
	float:left;
	position:relative;
	padding:0 0 1em 0;
	overflow:hidden;
}
/* 2 Column (left menu) settings */
.leftmenu {
}
.leftmenu .colleft {
	right:75%;			/* right column width */
}
.leftmenu .col1 {
	width:71%;			/* right column content width */
	left:102%;			/* 100% plus left column left padding */
}
.leftmenu .col2 {
	width:21%;			/* left column content width (column width minus left and right padding) */
	left:6%;			/* (right column left and right padding) plus (left column left padding) */
}
/* Footer styles */
#footer {
	clear:both;
	float:left;
	width:100%;
	background-color:rgba(0, 0, 0, 0.5);
	padding-bottom: 10px;
	padding-top: 10px;
}
#footer p {
	padding:10px;
	margin:0;
}

/*  Buttons  --------------------------------------------------------- */

.button, .button:visited, button, input[type=submit], input[type=reset], input[type=button] {
   font: 14px/24px 'montserrat-bold', sans-serif;
   background: #0099cc;
   color: #fff;
   display: inline-block;   
	text-decoration: none;
   letter-spacing: 0;   
	padding: 12px 20px;
	margin-bottom: 18px;
   border: none;
   cursor: pointer;
   height: auto;  

   -webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;

   border-radius: 3px;
}

.smallbutton {
	padding: 3px 5px;
	margin-bottom: 5px;
	
}

.button:hover, button:hover, input[type=submit]:hover, input[type=reset]:hover, input[type=button]:hover {
   background: #002654;
   color: #fff;
}

.button:active, button:active, input[type=submit]:active, input[type=reset]:active, input[type=button]:active {
   background: #197C28;
   color: #fff;
}

.button.full-width, button.full-width, input[type=submit].full-width, input[type=reset].full-width, input[type=button].full-width {
	width: 100%;
	padding-left: 0 !important;
	padding-right: 0 !important;
	text-align: center;
}

a.button {
	padding-top:0px;
	padding-bottom:0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

a.button.icon {
padding-left: 11px;
}

a.button.icon span{
padding-left: 26px;
background: url(/images/mobile.png) no-repeat 0 ;
}

a.button.icon.page span {
background-position: 0px ;
}

#header.button, #header.button:visited, #header button, #header input[type=submit], #header input[type=reset], #header input[type=button] {
	background: green;
}

#header.button:hover, #header button:hover, #header input[type=submit]:hover, #header input[type=reset]:hover, #header input[type=button]:hover {
   background: #002654;
   color: #fff;
}

#callschedule {
    border-collapse: collapse;
}

#callschedule td, #callschedule th {
    border: 1px solid #ddd;
    text-align: left;
    padding: 12px;
}

#callschedule tr:nth-child(even){background-color: rgba(0, 153, 204, 0.20); }

#callschedule tr:hover {background-color: #006694;}

#callschedule th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: rgb(0,38,84);
    color: white;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
}

div.errdiv {visibility: hidden; border: 2px; border-color: #269; border-style: solid; color: #FFFFFF; text-align: center; background-color: #369; font-weight: bold; width: 60%}

/* Fix for odd Mozilla border & padding issues */
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
